body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  color: black;
  background-color: grey;
}
.container {
 text-align: center;
 margin: 0 auto;
 padding: 0;
 text-align: center;
}
.thumb {

}
.search-icon {
  margin-top: 20px;
  position: absolute;
  float: right;
  font-size: 30px;
  color: white;
  text-indent: 15px;
  }
.searchBar{
  /*text-align: center;*/
  text-indent: 65px;
  border-top: none;
  border-bottom: 1px solid white;
  border-right: none;
  border-left: none;
  width: 100%;
  height: 40px;
  margin: 20px 0 20px 0;
  background: transparent;
  letter-spacing: 1.25px;
  font-size: 20px;
  color: white;
  /*text-align: center;*/
}
input[type="text"].searchBar::-webkit-input-placeholder {
   color: white;
}
.searchBar:focus {
  outline: none;
  cursor: auto;
}
.jumbotron{
  max-height: 400px;
  padding: 10px;
  text-align: center;
  background-color: grey;
  /*display: inline-block;*/
}
.lyricsContainer{
  text-align: center;
  margin: 0 auto;
  /*max-height: 350px;*/
  overflow: auto;
  display: inline-block;
  white-space: pre-line;
  font-size: 17px;
  color: black;
  /*border-bottom: 1px solid white;*/
}
.hero-feature:hover{
  cursor: pointer;
}
.otherVideos{
  /*background-color: tomato;*/
  border-top: 1px solid white;
  /*margin-top: 40px;*/
  padding: 25px;
  font-size: 30px;
  color: black;
  clear: both;
}
.footer{
  margin-top: 60px;
  font-size: 16px;
  clear: both;
  /*position: absolute;*/
}
.displayBox{
  /*border: 1px solid white;*/
  /*height: 400px;*/
}
.search-return{
  /*display:*/
  overflow: visible;
}
