body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-color: grey;
  background-image: url("../images/unsplash-kitsune-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height:1100px;
}
.container {
 text-align: center;
 margin: 0 auto;
 padding: 0;
 text-align: center;
}
.layer {
    background-color: rgba(76, 0, 150, 0.3);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.search-icon {
  margin-top: 43px;
  position: absolute;
  float: right;
  font-size: 30px;
  color: white;
  text-indent: 15px;
  }
.searchBar{
  /*text-align: center;*/
  text-indent: 65px;
  border-top: none;
  border-bottom: 1px solid white;
  border-right: none;
  border-left: none;
  width: 100%;
  height: 40px;
  margin: 40px 0 20px 0;
  background: transparent;
  letter-spacing: 2.5px;
  font-size: 25px;
  color: white;
}
input[type="text"].searchBar::-webkit-input-placeholder {
   color: white;
}
.searchBar:focus {
  outline: none;
  cursor: auto;
}
.jumbotron{
  height: 450px;
  padding: 10px;
  text-align: center;
  /*display: inline-block;*/
}
.lyricsContainer{
  text-align: center;
  margin: 0 auto;
  overflow: auto;
  display: inline-block;
  white-space: pre-line;
  font-size: 23px;
  background: transparent;
  font-family: 'Karla', sans-serif;
  /*border-bottom: 1px solid white;*/
}
.hero-feature:hover{
  cursor: pointer;
}

.otherVideos{
  /*background-color: tomato;*/
  border-top: 1px solid white;
  /*margin-top: 40px;*/
  padding: 25px;
  font-size: 30px;
  clear: both;
  margin-bottom: 45px;
  margin-top: 60px;
}
.footer{
  margin-top: 60px;
  font-size: 16px;
  clear: both;
  /*position: absolute;*/
}
.search-return{
  /*display:*/
  margin-top: 75px;
  overflow: visible;
}
.caption {
  margin-top: 20px;
}
